<head>
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    rel="stylesheet"
    />
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
    rel="stylesheet"
    />
    <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
    ></script>

    <style>
        .navbar {
            background-color: #6BF274;
        }
        #not{
            margin: 1% 45% 1% 45%;
            padding: 0.5% 0.5% 0.5% 0.5%;
            background: white;
            border: 1px black;
            border-radius: 10px;
        }
    </style>
    <link 
    href="http://127.0.0.1:8000/media/images/Ecogram_HzREZXw.ico"
    rel="shortcut icon"
    />
</head>

<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-custom">
            <!-- Container wrapper -->
            <div class="container-fluid">
            <!-- Toggle button -->
            <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>
            
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="http://127.0.0.1:8000/Principal/">
                <img
                    src="http://127.0.0.1:8000/media/images/Ecogram_4.png"
                    height="30"
                    alt=""
                    loading="lazy"
                />
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><strong>
                    <a class="nav-link" href="http://127.0.0.1:8000/Principal/">Principal</a>
                </li></strong>
                <li class="nav-item"><strong>
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="http://127.0.0.1:8000/Principal/NuevoArticulo/">Nuevo artículo</a>
                    {% else %}
                    <a class="nav-link" href="http://127.0.0.1:8000/Principal/NuevoArticulo/" data-mdb-toggle="modal" data-mdb-target="#loginModal">Nuevo artículo</a>
                    {% endif %}
                </li></strong>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        
            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Notifications -->
               
            <!-- Avatar -->
            {% include "users/login.html" %}
                {% if user.is_authenticated %}
                <a
                class="dropdown-toggle d-flex align-items-center hidden-arrow"
                href={% url 'users:profile' %}
                id="navbarDropdownMenuLink"
                 role="button"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
                 >
                <div align="center">
                    <img
                        src={{ user.profile_pic.url }}
                        class="rounded-circle"
                        height="30"
                        width="30"
                        alt=""
                        loading="lazy"
                    />
                </div>   
                </a>
                <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdownMenuLink"
                >
                <li>
                    <a class="dropdown-item" href={% url 'users:profile' %}>Mi perfil</a>
                </li>
                <li>
                    <a class="dropdown-item" href={% url 'users:logout' %}>Logout</a>
                </li>
                {% else %}
                <!-- Toggle button -->
                <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="modal"
                data-mdb-target="#loginModal"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
                <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarButtonsExample">
                <!-- Left links -->

                <!-- Left links -->

                <div class="d-flex align-items-center">
                        <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#loginModal">
                            Iniciar sesión/Registro
                        </button>
                        
                </div>
                
                    <!-- Collapsible wrapper -->
                {% endif %}
                

            </div>
            <!-- Right elements -->
            </div>
            <!-- Container wrapper -->
        </nav>
        {% if messages %}
            {% for message in messages %}
            <div id='not' class="notification {{ message.tags }} text-center ">
                <h5>{{ message }}</h5>
            </div>
            {% endfor %}
        {% endif %}

    </header>
    
    {% block content %}

    {% endblock %}

        <footer class="text-center text-lg-start bg-light text-muted">
            <!-- Section: Social media -->
            <section
            class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
            >
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span></span>
            </div>
            <!-- Left -->
        
            <!-- Right -->
            <div>
                <a href="https://www.facebook.com/profile.php?id=100075184280628" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/IEcogram" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
                </a>
                <a href="mailto:iecogram@gmail.com" class="me-4 text-reset">
                <i class="fab fa-google"></i>
                </a>
                <a href="https://www.instagram.com/iecogram/" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
                </a>
            </div>
            <!-- Right -->
            </section>
            <!-- Section: Social media -->
        
            <!-- Section: Links  -->
            <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                    <i class="fas fa-gem me-3"></i>Innombrables Company
                    </h6>
                </div>
                <!-- Grid column -->
        
                <!-- Grid column -->
                
                <!-- Grid column -->
        
                <!-- Grid column -->

                <!-- Grid column -->
        
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                    Contacto/Ayuda
                    </h6>
                    
                    <p>
                    <i class="fas fa-envelope me-3"></i>
                    <a href="mailto:iecogram@gmail.com"> iecogram@gmail.com </a>
                    </p>

                </div>
                <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
            </section>
            <!-- Section: Links  -->
        
            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold">Ecogram from Innombrables Company</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->

</body>
