<html>
  <header>
    {% extends "Menu.html" %}
  </header>
  <body>
  {% block content %}
  <div class='container d-flex justify-content-center mt-5 col-md-10 col-xl-8'>
    <div class="card shadow-4-strong mb-3">
      <div class="row g-0">
        <div class="col-md-5">
          <img src={{ user_detail.profile_pic.url }} alt="..." class="img-fluid rounded" />
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class='row justify-content-center'>
              <h4 class="col-12 card-title text-center mb-4">{{ user_detail.first_name }} {{ user_detail.last_name }}</h4>
              <p class="col-4 text-center mb-0">Publicaciones</p>
              <p class="col-4 text-center mb-0">Seguidores</p>
              <p class="col-4 text-center mb-0">Siguiendo</p>

              <p class="col-4 text-center"><strong>{{ user_detail.count_posts }}</strong></p>
              <p class="col-4 text-center"><strong>{{ user_detail.followers.all|length }}</strong></p>
              <p class="col-4 text-center"><strong>{{ user_detail.count_following }}</strong></p>


              <p class="card-text text-center mb-5">{{ user_detail.bio }}</p>
              {% if user.is_authenticated and user != user_detail %}
                {% if is_following %}
                <p align='center'>
                  <form method='POST' action="{% url 'users:remove-follower' user_detail.slug %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary btn-rounded col-5">
                      Dejar de seguir
                    </button>
                  </form>
                </p>
                {% else %}
                <p align='center'>
                  <form method='POST' action="{% url 'users:add-follower' user_detail.slug %}">
                    {% csrf_token %} 
                    <button type='submit' class="btn btn-primary btn-rounded col-5">
                      Seguir
                    </button>
                  </form>
                </p>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  </body>
</html>